<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="Dice.css"/>
    <title>dice</title>
</head>
<body>
  <div ng-controller="diceCtrl">
        <button class = "dice" ng-click="dieRoll(20)"><img src = "png/dice.png"></br>Roll D20</button>
        <button class = "dice" ng-click="dieRoll(12)"><img src = "png/dice.png"></br>Roll D12</button>
        <button class = "dice" ng-click="dieRoll(10)"><img src = "png/dice.png"></br>Roll D10</button>
        <button class = "dice" ng-click="dieRoll(8)"><img src = "png/dice.png"></br>Roll D8</button>
        <button class = "dice" ng-click="dieRoll(6)"><img src = "png/dice.png"></br>Roll D6</button>
        <button class = "dice" ng-click="dieRoll(4)"><img src = "png/dice.png"></br>Roll D4</button>
        <p class = "result">{{results}}</p>
	<input type="text" ng-model="diceValue">
  </div>
</body>
</html>
