<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DunGen</title>
    <link rel="stylesheet" type="text/css" href="dungeonGen.css"/>
</head>
<body>
    <div ng-controller="dungeonCtrl">
        <!--
		<select ng-model="size" ng-options="item for item in sizes" ng-change="justChanged()">
	        </select>
	        <select ng-model="environment" ng-options="item for item in environments" ng-change="justChanged()">
	        </select>
	-->
        <button ng-click="genDungeon()">Gen Dungeon</button>
        <p>{{postResults}}</p>
        <div id="dungeon">
            <ol id="add"></ol>
        </div>
        <div id="graphics">
        </div>
    </div>
</body>
</html>
