<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="home.css"/>
    <title>Title</title>

   <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="application/javascript" src="home.js"></script>
</head>
<body>

<div class="wrap" ng-app="myApp" ng-controller="myCtrl">

    <div class="options">
        <table>
            <tr>File</tr>
            <tr>View</tr>
            <tr>Window</tr>
            <tr>Help</tr>
            <tr>Exit</tr>
        </table>
    </div>

    <div class="menu">
        <table>
            <tr>
                <td>
                    <button ng-click="toggle('dice')">Dice</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button ng-click="toggle('story')">Story Notes</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button ng-click="toggle('chara')">Character Generator</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button ng-click="toggle('monst')">Monster Generator</button>
                </td>
            </tr>
        </table>
    </div>

    <div class="main">
        <p>main</p>
        <div ng-include="'Dice.html'" ng-hide="dice"></div>
        <div ng-include="'Story.html'" ng-hide="story"></div>
        <div ng-include="'CharGen.html'" ng-hide="chara"></div>
        <div ng-include="'MonsterGen.html'" ng-hide="monst"></div>
    </div>
</div>
</body>
</html>