table, th, tr{
    width: 10px;
    height: 10px;
    border: 10px black;
	
}

/*button{
    padding: 10px;
    width: 80px;
    height: auto;
	background-color: #63a4b0;
	border-radius: 15px;
	width: 80px;
	padding: 20px; 
	height: auto; 
	border-style: groove;
	
}
}

.buttonlinks {
	text-decoration: none;
	color: black;
}*/

.menu{
    margin: auto;
    float: left;
    background-color: #443635;
	position: fixed;
	border: 3px outset green;
    
	
}

.outline {
	background-color: black;
}

.options{
    border: 3px;
    width: 100%;
    background-color:dodgerblue;
    left: 20px;
}

.options select {
    position: relative;
}

.main{
    border: 3px;
    float: left;
    width: 100%;
    height: 20em;
    text-align: center;
    background-color:grey;
    padding-bottom: 39em;

}



.wrap{
    width: 100%;
	overflow: hidden; 
}

.icons {
  margin-bottom: 50px;
  border-radius: 5px;
  background-color: #3d4ee7;
  border: none;
  color: black;
  text-align: center;
  padding-right: 5px;
  padding-left: 0px;
  margin-left: 0px;
  width: 80px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

 .icons span {
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}
.icons span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.icons:hover span {
  padding-right: 25px;
}

.icons:hover span:after {
  opacity: 1;
  right: 0;
}
