<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="home.css"/>
    <title>GMAT</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head >
<body class = "outline">

<div class="wrap" ng-app="myApp" ng-controller="myCtrl">

    <div class="options">
        <table>
            <tr>File</tr>
            <tr>View</tr>
            <tr>Window</tr>
            <tr>Help</tr>
            <tr>Exit</tr>
        </table>
    </div>

    <div class="menu">
        <table>
            <tr>
                <td>
                    <button class = "icons" ng-click="toggleDice()"><img src = "png/dice.png" ><span></span></button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class = "icons" ng-click="toggleStory()"><img src = "png/storyline.png" ><span></span></button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class = "icons" ng-click="toggleChara()"><img src  = "png/character.png"><span></span></button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class = "icons" ng-click="toggleMonst()"><img src = "png/monster.png"><span></span></button>
                </td>
            </tr>
        </table>
    </div>

    <div class="main">
        <p>main</p>
        <div ng-include="'Dice.html'" ng-hide="dice"></div>
        <div ng-include="'Story.html'" ng-hide="story"></div>
        <div ng-include="'CharGen.html'" ng-hide="chara"></div>
        <div ng-include="'MonsterGen.html'" ng-hide="monst"></div>
    </div>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope){
    $scope.dice = true;
    $scope.chara = true;
    $scope.monst = true;
    $scope.story = true;

    $scope.toggleDice = function () {
        if($scope.dice == false) {
            $scope.dice = true;
        } else {
            $scope.dice = false;
        }
    }

    $scope.toggleChara = function () {
        if($scope.chara == false) {
            $scope.chara = true;
        } else {
            $scope.chara = false;
        }
    }

    $scope.toggleMonst = function () {
        if($scope.monst == false) {
            $scope.monst = true;
        } else {
            $scope.monst = false;
        }
    }

    $scope.toggleStory = function () {
        if($scope.story == false) {
            $scope.story = true;
        } else {
            $scope.story = false;
        }
    }

});
</script>

</body>

</html>